# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.pyd
*.so
*.dylib
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# CMake / C++
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.obj
*.o
*.a
*.lib
*.exp

# Editors / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store

# Environment
.env
.venv/
venv/
